* {
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
	background-color: rgb(255, 165, 213);
}

h1::before {
	content: '📸';
}

.caja {
	background-color: rgb(164, 164, 253);
	/* margin-inline-end: 2px; */
}

a {
	color: blueviolet;
}
div img {
	width: 400px;
	height: 305px;
}

#submit {
  color: red;
}