* {
	margin: 0;
}

body {
	font-size: 30px;
}

h1 {
	background-color: aquamarine;
	width: 300px;
	height: 200px;
	margin: 1em;
}

.textos p {
	background-color: aqua;
	width: 300px;
	height: 200px;
	margin: 0.5em;
}

a {
  display: inline-block;
	background-color: aquamarine;
	width: 300px;
	height: 200px;
  margin: 1em;
}
